ApliciacionInventario/Connected Services/ProxyHangar/WCF_Inventario.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/WCF_Inventario" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/WCF_Inventario" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="HangarBE">
    <xs:sequence>
      <xs:element minOccurs="0" name="Fec_Registro" type="xs:dateTime" />
      <xs:element minOccurs="0" name="activo" type="xs:short" />
      <xs:element minOccurs="0" name="area" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="equipo" type="xs:short" />
      <xs:element minOccurs="0" name="estado" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="fec_ult_modificacion" type="xs:dateTime" />
      <xs:element minOccurs="0" name="id" type="xs:short" />
      <xs:element minOccurs="0" name="imagen" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="marca" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="modelo" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="nom_activo" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="obs" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="piso" type="xs:short" />
      <xs:element minOccurs="0" name="tipo" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="usu_registro" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="usu_ult_modificacion" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="HangarBE" nillable="true" type="tns:HangarBE" />
  <xs:complexType name="ArrayOfHangarBE">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="HangarBE" nillable="true" type="tns:HangarBE" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfHangarBE" nillable="true" type="tns:ArrayOfHangarBE" />
</xs:schema>