ApliciacionInventario/Connected Services/ProxyAto/service.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:tns="http://tempuri.org/" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" name="ServiceAto" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import namespace="http://tempuri.org/" />
      <xsd:import namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import namespace="http://schemas.datacontract.org/2004/07/WCF_Inventario" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IServiceAto_ConsultarAto_InputMessage">
    <wsdl:part name="parameters" element="tns:ConsultarAto" />
  </wsdl:message>
  <wsdl:message name="IServiceAto_ConsultarAto_OutputMessage">
    <wsdl:part name="parameters" element="tns:ConsultarAtoResponse" />
  </wsdl:message>
  <wsdl:message name="IServiceAto_ConsultarAto2_InputMessage">
    <wsdl:part name="parameters" element="tns:ConsultarAto2" />
  </wsdl:message>
  <wsdl:message name="IServiceAto_ConsultarAto2_OutputMessage">
    <wsdl:part name="parameters" element="tns:ConsultarAto2Response" />
  </wsdl:message>
  <wsdl:message name="IServiceAto_ListarAto_InputMessage">
    <wsdl:part name="parameters" element="tns:ListarAto" />
  </wsdl:message>
  <wsdl:message name="IServiceAto_ListarAto_OutputMessage">
    <wsdl:part name="parameters" element="tns:ListarAtoResponse" />
  </wsdl:message>
  <wsdl:message name="IServiceAto_ListarAto2_InputMessage">
    <wsdl:part name="parameters" element="tns:ListarAto2" />
  </wsdl:message>
  <wsdl:message name="IServiceAto_ListarAto2_OutputMessage">
    <wsdl:part name="parameters" element="tns:ListarAto2Response" />
  </wsdl:message>
  <wsdl:message name="IServiceAto_InsertarAto_InputMessage">
    <wsdl:part name="parameters" element="tns:InsertarAto" />
  </wsdl:message>
  <wsdl:message name="IServiceAto_InsertarAto_OutputMessage">
    <wsdl:part name="parameters" element="tns:InsertarAtoResponse" />
  </wsdl:message>
  <wsdl:message name="IServiceAto_ActualizarAto_InputMessage">
    <wsdl:part name="parameters" element="tns:ActualizarAto" />
  </wsdl:message>
  <wsdl:message name="IServiceAto_ActualizarAto_OutputMessage">
    <wsdl:part name="parameters" element="tns:ActualizarAtoResponse" />
  </wsdl:message>
  <wsdl:message name="IServiceAto_EliminarAto_InputMessage">
    <wsdl:part name="parameters" element="tns:EliminarAto" />
  </wsdl:message>
  <wsdl:message name="IServiceAto_EliminarAto_OutputMessage">
    <wsdl:part name="parameters" element="tns:EliminarAtoResponse" />
  </wsdl:message>
  <wsdl:portType name="IServiceAto">
    <wsdl:operation name="ConsultarAto">
      <wsdl:input wsaw:Action="http://tempuri.org/IServiceAto/ConsultarAto" message="tns:IServiceAto_ConsultarAto_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServiceAto/ConsultarAtoResponse" message="tns:IServiceAto_ConsultarAto_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ConsultarAto2">
      <wsdl:input wsaw:Action="http://tempuri.org/IServiceAto/ConsultarAto2" message="tns:IServiceAto_ConsultarAto2_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServiceAto/ConsultarAto2Response" message="tns:IServiceAto_ConsultarAto2_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ListarAto">
      <wsdl:input wsaw:Action="http://tempuri.org/IServiceAto/ListarAto" message="tns:IServiceAto_ListarAto_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServiceAto/ListarAtoResponse" message="tns:IServiceAto_ListarAto_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ListarAto2">
      <wsdl:input wsaw:Action="http://tempuri.org/IServiceAto/ListarAto2" message="tns:IServiceAto_ListarAto2_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServiceAto/ListarAto2Response" message="tns:IServiceAto_ListarAto2_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="InsertarAto">
      <wsdl:input wsaw:Action="http://tempuri.org/IServiceAto/InsertarAto" message="tns:IServiceAto_InsertarAto_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServiceAto/InsertarAtoResponse" message="tns:IServiceAto_InsertarAto_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ActualizarAto">
      <wsdl:input wsaw:Action="http://tempuri.org/IServiceAto/ActualizarAto" message="tns:IServiceAto_ActualizarAto_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServiceAto/ActualizarAtoResponse" message="tns:IServiceAto_ActualizarAto_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="EliminarAto">
      <wsdl:input wsaw:Action="http://tempuri.org/IServiceAto/EliminarAto" message="tns:IServiceAto_EliminarAto_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServiceAto/EliminarAtoResponse" message="tns:IServiceAto_EliminarAto_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IServiceAto" type="tns:IServiceAto">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="ConsultarAto">
      <soap:operation soapAction="http://tempuri.org/IServiceAto/ConsultarAto" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ConsultarAto2">
      <soap:operation soapAction="http://tempuri.org/IServiceAto/ConsultarAto2" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ListarAto">
      <soap:operation soapAction="http://tempuri.org/IServiceAto/ListarAto" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ListarAto2">
      <soap:operation soapAction="http://tempuri.org/IServiceAto/ListarAto2" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="InsertarAto">
      <soap:operation soapAction="http://tempuri.org/IServiceAto/InsertarAto" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ActualizarAto">
      <soap:operation soapAction="http://tempuri.org/IServiceAto/ActualizarAto" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="EliminarAto">
      <soap:operation soapAction="http://tempuri.org/IServiceAto/EliminarAto" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="ServiceAto">
    <wsdl:port name="BasicHttpBinding_IServiceAto" binding="tns:BasicHttpBinding_IServiceAto">
      <soap:address location="http://localhost:8733/Design_Time_Addresses/WCF_Inventario/ServiceAto/" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>