ApliciacionInventario/Connected Services/ProxyModelo/WCF_Inventario.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/WCF_Inventario" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/WCF_Inventario" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ModeloBE">
    <xs:sequence>
      <xs:element minOccurs="0" name="Fec_Registro" type="xs:dateTime" />
      <xs:element minOccurs="0" name="fec_ult_modificacion" type="xs:dateTime" />
      <xs:element minOccurs="0" name="id" type="xs:short" />
      <xs:element minOccurs="0" name="marca" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="modelo" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="nom_equipo" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="tipo" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="usu_registro" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="usu_ult_modificacion" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ModeloBE" nillable="true" type="tns:ModeloBE" />
  <xs:complexType name="ArrayOfModeloBE">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="ModeloBE" nillable="true" type="tns:ModeloBE" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfModeloBE" nillable="true" type="tns:ArrayOfModeloBE" />
</xs:schema>